# Discord Configuration
DISCORD_SERVER_ID =
DISCORD_TOKEN =

# Trakt API Configuration
TRAKT_CLIENT_ID =
TRAKT_CLIENT_SECRET =
TRAKT_USERNAME =

# The Movie Database (TMDb) API Key
TMDB_API_KEY =

# Tautulli Configuration
TAUTULLI_API_URL =
TAUTULLI_API_KEY =
TAUTULLI_USER_ID =
TAUTULLI_SCRIPTS_FOLDER =

# Discord Channel IDs
CHANNEL_PLEX_CONTENT =
CHANNEL_PLEX_PLAYING =
CHANNEL_RADARR_GRABS =
CHANNEL_SONARR_GRABS =
CHANNEL_WATCHTOWER =
CHANNEL_SYSTEM_INFO =
CHANNEL_TRAKT_USER =
CHANNEL_TRAKT_GLOBAL =
CHANNEL_TRAKT_RATINGS =
